<div class="container text-center">
  <h2 class="pad-bottom">Customer details</h2>
  <div class="details-container">
    <div class="form-group row justify-content-center">
      <label class="col-2 col-form-label" for="firstName">First name</label>
      <input class="col-2 form-control-plaintext" id="firstName" name="firstName" type="text" [(ngModel)]="customer.firstName" required>
    </div>
    <div class="form-group row justify-content-center">
      <label class="col-2 col-form-label" for="lastName">Last name</label>
      <input class="col-2 form-control-plaintext" id="lastName" name="lastName" type="text" [(ngModel)]="customer.lastName" required>
    </div>
    <div class="form-group row justify-content-center">
      <label class="col-2 col-form-label" for="email">Email</label>
      <input class="col-2 form-control-plaintext" id="email" name="email" type="text" [(ngModel)]="customer.email" required>
    </div>
    <div class="form-group row justify-content-center">
      <label class="col-2 col-form-label" for="mobile">Mobile</label>
      <input class="col-2 form-control-plaintext" id="mobile" name="mobile" type="text" [(ngModel)]="customer.mobile" required>
    </div>
    <div class="form-group row justify-content-center">
      <label class="col-2 col-form-label" for="address">Address</label>
      <input class="col-2 form-control-plaintext" id="address" name="address" type="text" [(ngModel)]="customer.address" required>
    </div>
  </div>
  <button class="btn btn-danger" routerLink="/customers" type="submit" id="cancel">Back</button>
</div>